@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* { /* RESET */
    vertical-align: baseline;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-style: inherit;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    color: black;
}

:root {
    --lightgreen: #3b9557;
    --darkgreen: #27633a;
    --beige: #db8644;
    --orange: #c44d2f;
    --black: #222034;
}

head {
    display: none;
}

body {
    background-color: darkgray;
}

#container {
    display: flex;
    flex-flow: row wrap;
    padding: 100px;
}

.block {
    background-color: gray;
    width: 75px;
    height: 75px;
}

.background {
    background-color: darkgray;
}

.lightgreen {
    background-color: var(--lightgreen);
}

.darkgreen {
    background-color: var(--darkgreen);
}

.beige {
    background-color: var(--beige);
}

.orange {
    background-color: var(--orange);
}

.black {
    background-color: var(--black);
}
